<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario consultorios</title>
</head>
<body>
    <h1>Nuevo consultorio</h1>
    <form method="post">
        <p> Numero de consultorio
            <select name="nu">
                {% for numero in numeros %}
                    <option>{{numero}}</option>        
                {% endfor %}
            </select>
        </p>
        <p><button type="submit">Guardar</button></p>
    </form>
</body>
</html>
