<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista consultorios</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <!--Consultorios-->
    <h1>Lista Consultorios</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Ver detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for consultorio in consultorios %}
                <tr>
                    <td>{{consultorio.numero}}</td>
                    <td><a href="/consultorios/{{consultorio.id}}">Ver detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>