<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico</title>
</head>
<body>
    <h1>Informacion medico</h1>
    <ul>
        <li>Nombre: {{med.nombre}}</li>
        <li>Apellido: {{med.apellido}}</li>
        <li>Tipo identificacion: {{med.tipo_identificacion}}</li>
        <li>Numero identificacion: {{med.numero_identificacion}}</li>
        <li>Registro medico: {{med.registro_medico}}</li>
        <li>Especialidad: {{med.especialidad}}</li>
    </ul>
</body>
</html>