<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_list.css')}}">
</head>
<body>
<div class="contorno">
    <h1 class="titulo">Informacion Paciente</h1>
    <ul class="item_lista">
        <li>
            <img src="{{url_for('static',filename='Nombre.png')}}" alt="" width="50px" height="50px" class="nombre">
            <strong>
                Nombre: 
            </strong>
            {{pac.nombre}}
        </li>
        <li>
            <img src="{{url_for('static',filename='Apellido.png')}}" alt="" width="50px" height="50px" class="apellido">
            <strong>
                Apellido: 
            </strong>
            {{pac.apellido}}
        </li>
        <li>
            <img src="{{url_for('static',filename='Identificacion.png')}}" alt="" width="50px" height="50px" class="identificacion">
            <strong>
                Tipo Identificacion:
            </strong>
            {{pac.tipo_identificacion}}
        </li>
        <li>
            <img src="{{url_for('static',filename='Altura.png')}}" alt="" width="50px" height="50px" class="altura">
            <strong>
                Altura: 
            </strong>
            {{pac.altura}}
        </li>
        <li>
            <img src="{{url_for('static',filename='Sangre.png')}}" alt="" width="50px" height="50px" class="sangre">
            <strong>
                Tipo Sangre:
            </strong> 
            {{pac.tipo_sangre}}
        </li>
    </ul>
</div>
</body>
</html>