<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_list.css')}}">
</head>
<body>
<div class="contorno">
    <h1 class="text-center">Informacion Paciente</h1>
    <ul class="item_lista">
        <li class="list-group-item">
            <img src="{{url_for('static',filename='Nombre.png')}}" alt="" width="50px" height="50px" class="nombre">
            Nombre: {{pac.nombre}}
        </li>
        <li class="list-group-item">
            <img src="{{url_for('static',filename='Apellido.png')}}" alt="" width="50px" height="50px" class="apellido">
            Apellido: {{pac.apellido}}
        </li>
        <li class="list-group-item">
            <img src="{{url_for('static',filename='Identificacion.png')}}" alt="" width="50px" height="50px" class="identificacion">
            Tipo identificacion: {{pac.tipo_identificacion}}
        </li>
        <li class="list-group-item">
            <img src="{{url_for('static',filename='Altura.png')}}" alt="" width="50px" height="50px" class="altura">
            Altura: {{pac.altura}}
        </li>
        <li class="list-group-item">
            <img src="{{url_for('static',filename='Sangre.png')}}" alt="" width="50px" height="50px" class="sangre">
            Tipo Sangre: {{pac.tipo_sangre}}
        </li>
    </ul>
</div>
</body>
</html>